
<header class="page-header" role="banner">
    <!-- we need this logo when user switches to nav-function-top -->
    <div class="page-logo">
        <a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative" data-toggle="modal" data-target="#modal-shortcut">
            <img src="~/SmartAdmin/dist/img/logo.png" alt="SmartAdmin WebApp" aria-roledescription="logo">
            <span class="page-logo-text mr-1">StokTakip</span>
            <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span>
            <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
        </a>
    </div>
    <!-- DOC: nav menu layout change shortcut -->
    <div class="hidden-md-down dropdown-icon-menu position-relative">
        <a href="#" class="header-btn btn js-waves-off" data-action="toggle" data-class="nav-function-hidden" title="Hide Navigation">
            <i class="ni ni-menu"></i>
        </a>
        <ul>
            <li>
                <a href="#" class="btn js-waves-off" data-action="toggle" data-class="nav-function-minify" title="Minify Navigation">
                    <i class="ni ni-minify-nav"></i>
                </a>
            </li>
            <li>
                <a href="#" class="btn js-waves-off" data-action="toggle" data-class="nav-function-fixed" title="Lock Navigation">
                    <i class="ni ni-lock-nav"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- DOC: mobile button appears during mobile width -->
    <div class="hidden-lg-up">
        <a href="#" class="header-btn btn press-scale-down" data-action="toggle" data-class="mobile-nav-on">
            <i class="ni ni-menu"></i>
        </a>
    </div>
    
    <div class="ml-auto d-flex">
        <div>
            <a href="@Url.Action("Dashboard", "Home")" class="header-icon" data-class="mobile-nav-on">
                <i class="ni ni-home"></i>
            </a>
        </div>
        <div>
            <!--<a href="#" id="messageboxHeader" class="header-icon" data-class="mobile-nav-on" data-toggle="dropdown" title="Toplam 0 Mesaj" aria-expanded="false">
                <i class='fal fa-bell'></i>
                <span id="messageboxHeader_span" class='badge badge-icon '>0</span>-->

                @*<span class="badge badge-icon">11</span>*@
            <!--</a>-->
            <!--<div class="dropdown-menu dropdown-menu-animated dropdown-xl" style="">
                <div class="dropdown-header bg-trans-gradient d-flex justify-content-center align-items-center rounded-top mb-2">
                    <h4 class="m-0 text-center color-white" id="messageboxHeaderh4">
                        Toplam 0 Mesaj
                        <small class="mb-0 opacity-80">Mesaj Listesi</small>
                    </h4>
                </div>
                <ul class="nav nav-tabs nav-tabs-clean text-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link px-4 fs-md js-waves-on fw-500 waves-effect waves-themed" data-toggle="tab" href="#tab-messages" data-i18n="drpdwn.messages">Mesajlar</a>
                    </li>
                </ul>
                <div class="tab-content tab-notification">
                    <div class="tab-pane active" id="tab-messages" role="tabpanel">
                        <div class="custom-scroll h-100">
                            <div class="slimScrollDiv" style="position: relative; overflow-y: auto; width: auto; height: 100%;">
                                <ul id="slimScrollDiv_ul_List" class="notification" style="overflow-y: auto; width: auto; height: 100%;">
                                </ul><div class="slimScrollBar" style="background: rgba(0, 0, 0, 0.6); width: 4px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 4px;"></div><div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(250, 250, 250); opacity: 0.2; z-index: 90; right: 4px;"></div>
                            </div>
                        </div>
                    </div>
                </div>-->
                @*<div class="py-2 px-3 bg-faded d-block rounded-bottom text-right border-faded border-bottom-0 border-right-0 border-left-0">
                    <a href="@Url.Action("UserMessageBox","InformationDefinition")" class="fs-xs fw-500 ml-auto" style="font-weight:bold;">Mesajlarıma Git</a>
                </div>*@
            <!--</div>-->
        </div>
        <div class="btn-group">
            @*<button class="header-icon" style="background:rgb(255, 255, 255);border:none;height:40px;" data-toggle="dropdown" aria-expanded="false">
                <i class="ni ni-users"></i>
            </button>*@
        </div>
        <div>
            <a asp-controller="User" asp-action="Logout" data-class="mobile-nav-on" class="header-icon">
                <i class="ni ni-logout"></i>
            </a>
        </div>
    </div>
</header>